[submodule "tomchkk-private/projects/bash-test"]
	path = submodules/tomchkk-private/projects/bash-test
	url = git@gitlab.com:tomchkk-private/projects/bash-test.git
	branch = master
	version = ^0.4.3
	super = self
	dev = true
